# Dependencies
/server/node_modules
/webapp/node_modules

# Package files
.pnp
.pnp.js

# Testing
/coverage

# Production build
/build

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
